// The dashboard is the main section of the website page
// It is sandwiched between the header ontop and the footer at bottom
// Its contents are :
// (1) The section that holds the assets info (the input feild & cards)
// (2) The section that has the list of annual budgets

.dashboard {
  display: block grid;
  background-color: $color-grey-light-1;
  border-radius: 1rem;

  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1.8fr;
  overflow: hidden;

  padding: 0.5rem;
  padding-bottom: 4rem;
}
