/* 
**
** IMPORTANT:
** To support mobile decices add inside the root <html> tag this <meta> viewport
**    <meta name="viewport" content="width=device-width initial-scale=1">
**
** BEST PRACTICES:
** (1) If designed the website for mobile first then use minimum widths 
**     in media query, i.e. @media (min-width: 84v) { ... }
**     otherwise use max-width.
**
** (2) In @media query this is always true : 
**       1 rem = 1em = 16px (or whatever the defaulty browser font size).
**     So what we set in the root element (the html { }) is ignored,
**     we set the font-size there to be 62.5% ( = 10px) but in @media query that
**     setting is ignored and 1rem = 16px (or whatever the user set
**     in browser settings for Medium font size)
**  
** (3) The most best practice and recommended units for media query are 'rem' units.
**     How to use rem units in media query:
**       (a) Decide on target dimension, i.e. width of 1140px.
**       (b) Use this formula:  rem value = pixel value / root font size
**           If we set font-size: 16px in our root html then formula is :
**           rem-value = screen-value-px / 16px
**           Example: Screen width = 1140px then rem = 1140 / 16 = 71.25rem 
**     
** (4) DO-NOT use px units in media queries because of because of
**     Inconsistent Behavior Across Devices.
**
** (5) max vs min , what to use :
**     (a) For readability of media query think of alias for 'max' as 'below'
**         and for min think of the alias 'above'.
**     (b) Example:  @media (max-width: 84em) { ... } is read as 
**                   @media (when below-width 84em) { do this ... }
**
** (5) ORDER OF @media queries in file:
**     If using max-width/max-height then the order of the @media 
**     queries needs to be in descending order (largest to smallest).
**     This is because as we go to lower screen sizes we will need more specific 
**     styling that we dont want to appear in the larger screens.
*/

/*********************************/
/*******   Breakpoints ***********/
/*********************************/

/*********************************
** Default Screen Sizes : 
** This is the default screen width without need for a media query.
**   Screen width = 1140px 
**   Any screen size above 1140 gets no change in the css
**   So our first breakpoint is anything below 1140 (max-width alias "below width")
**   
*/

/* ====================================================
** BREAKPOINT-1 : All screens BELOW 1232px
**  In rem units = 1232px / 16px = 77rem 
**
** Reason for this breakpopint:
**   The font size in the annual-budget table is too big
**   causing the column headers to be unreadable.
**
*/
@media (max-width: 77rem) /* 1232px */ {
  html {
    font-size: 50%; /* 8 px / 16px =  50%*/
    /* This means that 1rem = 8px*/
  }

  header.shared-header.u-margin-bottom-small {
    border: 8px solid rgb(98, 239, 22);
  }

  // More TODO
  // The legend of the chart is cropped by card width, need fix.
}

/* ====================================================
** BREAKPOINT-2 : All screens BELOW 992px
**  In rem units = 992px / 16px = 62rem 
** Reasons for this breakpopint:
** (1) The annual-budget table's container is to high
**     it has too much blank space at the bottom.
**     It seems as though the height is propotional to the width
**
** (2) The chart circles are too big causing the cards to be too big.
**     Need to make them smaller.
**
*/
@media (max-width: 62rem) /* 992px */ {
  html {
    // Leave the font-size as prev breakpoint
    // font-size: 50%; /* 8 px / 16px =  50%*/ /* This means that 1rem = 8px*/
  }

  header.shared-header.u-margin-bottom-small {
    border: 8px solid rgb(229, 149, 21);
  }
}

/* ====================================================
** BREAKPOINT-3 : All screens BELOW 816px
**  In rem units = 816px / 16px = 51rem 
** Reasons for this breakpopint (both to fix by root font-size changing):
** (1) The font size of the shared-header is too big and collapses to 2 lines.
**     Needs smaller font.
**
** (2) The annual-budget table is too narrow croping columns.
**     Need to widen it to width of its container (like the card container is)
**
*/
@media (max-width: 51rem) /* 816px */ {
  html {
    // Leave the font-size as prev breakpoint
    // font-size: 50%; /* 8 px / 16px =  50%*/ /* This means that 1rem = 8px*/
  }

  header.shared-header.u-margin-bottom-small {
    border: 8px solid rgb(229, 149, 21);
  }

  .section-budgets {
    margin: 0 10%;
  }

  // .heading-primary--main {
  //   font-size: 3rem;
  //   letter-spacing: 1rem;
  // }
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 2rem;
  }
}

/* ====================================================
** BREAKPOINT-4 : All screens BELOW 672px
**  In rem units = 672px / 16px = 42rem 
** Reasons for this breakpopint (both to fix by root font-size changing):
** (1) The font size of the shared-header is too big and collapses to 2 lines.
**     Needs even smaller font.
**
** (2) In the assets input bar, the button is hidden and cropped
**     Need to change the display spacing & logic to flex or not allow overflow and hiding
**
*/
@media (max-width: 42rem) /* 672px */ {
  html {
    font-size: 37.5%; /* 6 px / 16px =  37.5%*/ /* This means that 1rem = 6px*/
  }

  header.shared-header.u-margin-bottom-small {
    border: 8px solid rgb(227, 31, 60);
  }

  .section-budgets {
    margin: 0 0;
  }

  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 1.58rem;
  }

  //.......................
  //  section-firms __title
  .section-firms {
    &__title {
      border: 8px solid rgb(72, 182, 216);
      padding-left: 0rem;
    }
  }
}

// .heading-primary--main {
//   font-size: 2.5rem;
//   letter-spacing: 0.8rem;
// }

/* --- 0x LAYOUT SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

............................................................
--- 01 TYPOGRAPHY SYSTEM
- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
