// This sections is the financial firms sections.
// It represents each firm as a card, the title is the firm name & total asset value.
// The bottom part of the card is name and value of each financial vehicle (stock, bonds...)
//
.section-firms {
  flex: 4;

  background-color: $color-grey-light-1;
  // background-color: lightgreen;
  align-items: center;

  &__container {
    // background-color: rgb(204, 121, 227);
    display: flex;
    flex-flow: row wrap;
    column-gap: 10rem;
    row-gap: 5rem;
    justify-content: space-evenly;
    margin: 0 5%;
    padding: 5rem 0;
  }
}
