// This sections is the financial firms sections.
// It represents each firm as a card, the title is the firm name & total asset value.
// The bottom part of the card is name and value of each financial vehicle (stock, bonds...)
//
.section-firms {
  border: 8px solid rgb(120, 72, 216);

  flex: 4;

  background-color: $color-grey-light-1;
  // background-color: lightgreen;
  align-items: center;

  &__title {
    border: 8px solid rgb(120, 72, 216);

    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10rem;
  }

  &__container {
    border: 8px solid rgb(120, 72, 216);

    // background-color: rgb(204, 121, 227);
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
    row-gap: 5rem;
    justify-content: space-evenly;
    margin: 0 2%;
    padding: 5rem 0;
  }
}
