<div container-table>
  <table mat-table [dataSource]="accountsDataInput" users-table>
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="users-table-cell">ID</th>
      <td mat-cell *matCellDef="let myelement" class="users-table-cell">
        {{ myelement.id }}
      </td>
    </ng-container> -->

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="users-table-cell align-left"
        class="heading-table"
      >
        Name
      </th>
      <td
        mat-cell
        *matCellDef="let myelement"
        class="users-table-cell align-left"
      >
        {{ myelement.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="accountTotal">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="users-table-cell align-right"
      >
        Total
      </th>
      <td
        mat-cell
        *matCellDef="let myelement"
        class="users-table-cell align-right"
      >
        <!-- {{ myelement.actualValueAccountTotal | number : "1.0-0" }} -->
        {{
          helperService.roundUpToNearestThousand(
            myelement.actualValueAccountTotal
          ) / 1000
        }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Next line describes how to render each row line
      The structural Directive *matRowDef takes two inputs:
      (1)  let row;  This defines the template(html) variable used to iterate over the 
                     'dataSource' defined in the <table> element.
                      So each element in the dataSource is 1 row in the table.
      (2) columns: displayedColumns This specifies the columns that need to be 
                   displayed in each row, that is why its the same variable as 
                   used by <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
