.container-table {
  /* width: 70%;
  overflow: hidden; */
  /* flex-grow: 1; */
}

.users-table {
  /* table-layout: fixed; */
  /* width: 100%; */
  flex-grow: 1;
}

.users-table-cell {
  /* border: 1px solid #dddddd; */
  text-align: center;
  padding: 8px;
  font-size: larger;
  /* background-color: #efefef; */
}

/* The following "mat-mdc..." rules are a material classes,
   I use the value "transparent" because I want the background to be transparent so that
   it does not peep behind the rounded corners of the header row.
   
   I dont use the selector "table .mat-mdc-table" because i want to select all the .mat-mdc-table classses
   in the DOM regardless if they are children elements of table*/
.mat-mdc-table {
  background-color: transparent;
}

table .mat-mdc-header-cell {
  border: 1px solid black;
  background-color: #ccc;
}

table .mat-mdc-header-cell:first-child {
  border-top-left-radius: 10px;
}

table .mat-mdc-header-cell:last-child {
  border-top-right-radius: 10px;
}

table .mat-mdc-row:nth-child(odd) {
  background-color: red;
}

table .mat-mdc-row:nth-child(even) {
  background-color: aqua;
}
