.container-table {
  width: 70%;
  overflow: hidden !important;
}

.users-table {
  table-layout: fixed;
  width: 100%;
}

/* The following rule is a material rule, I want the background to be transparent so that
it does not peep behind the rounded corners of the header row */
.mat-mdc-table {
  background-color: transparent;
}

.users-table-cell {
  /* border: 1px solid #dddddd; */
  text-align: center;
  padding: 8px;
  font-size: larger;
  /* background-color: #efefef; */
}

table .mat-mdc-header-cell {
  border: 1px solid black;
  background-color: #ccc;
}

table .mat-mdc-header-cell:first-child {
  border-top-left-radius: 10px;
}

table .mat-mdc-header-cell:last-child {
  border-top-right-radius: 10px;
}

table .mat-mdc-row:nth-child(odd) {
  background-color: red;
}

table .mat-mdc-row:nth-child(even) {
  background-color: aqua;
}
