.container-table {
  width: 100%;
}

.users-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.users-table-cell {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: larger;
}

table .mat-mdc-header-cell {
  border: 1px solid red;
  background-color: aqua;
}

.heading-table {
}
