<!-- The home comp will hold the content of the <body> element
     The is the <header> , <main> and <footer>
  -->

<header class="header">
  <div class="header__logo-box">
    <img
      src="./assets/img/logo-white.png"
      alt="Logo white"
      class="header__logo-image"
    />
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Liquid Budget</span>
    </h1>
  </div>
</header>

@for (firm of firms; track firm.id) {
<div>
  <p>ID: {{ firm.id }}</p>
  <p>Name: {{ firm.name }}</p>
  <p>Total: {{ firm.actualValueFirmTotal | number : "1.0-0" }}</p>
</div>
<!-- <app-assets-table [firmsDataInput]="firms"></app-assets-table> -->
<app-assets-table [accountsDataInput]="firm.accounts"></app-assets-table>
}
