<!-- (1) The home comp will hold the content of the <body> element
     The is the <header> and <main>. There is no <footer>.
      (2) The <main> holds the default <section-firms>
  -->

<header class="shared-header">
  <div>
    <img
      src="./assets/img/logo-white.png"
      alt="Logo white"
      class="shared-header__logo-image"
    />
  </div>

  <div>
    <h1 class="heading-primary">
      <span class="heading-primary--main">Liquid Budget</span>
    </h1>
  </div>
</header>

<main>
  <!-- =================================== -->
  <!-- ==== S E C T I O N - F I R M S  === -->
  <!-- =================================== -->

  <!-- ++++++++++++++++++++++++++++++++++++++  -->
  <!-- ++++++++++++++++++++++++++++++++++++++  -->
  <!-- ++++++++++++++++++++++++++++++++++++++  -->
  <!-- ++++++++++++++++++++++++++++++++++++++  -->

  <section class="section-firms">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary u-margin-top-big">Your Financial Firms</h2>
    </div>

    <div class="section-firms__container">
      @for (firm of firms; track firm.id) {

      <!-- ====================================================================== -->
      <!-- ==== C A R D   L O O P  F O R   E A C H   F I R M  O N E   C A R D === -->
      <!-- ====================================================================== -->

      <div class="card section-firms__container_card">
        <!-- ===================================== -->
        <!-- ==== C A R D   F R O N T S I D E  === -->

        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">&NonBreakingSpace;</div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--2">
              {{ firm.name }}
            </span>
          </h4>
          <h1 class="card__heading-span card__heading-span--1">
            Total: {{ firm.actualValueFirmTotal | number : "1.0-0" }}
          </h1>

          <!-- ====================================================== -->
          <!-- Displaying the pie chart for accounts inside the firm -->
          <!-- ====================================================== -->
          <div class="card__content">
            <!-- <div id="chart_div"></div> -->
            <div id="donutchart"></div>
          </div>
        </div>

        <!-- ===================================== -->
        <!-- ==== C A R D   B A C K S I D E  === -->

        <div class="card__side card__side--back card__side--back--3">
          <div class="card__table-body card__table-typo">
            <div class="card__price-box">
              <!-- <p class="card__price-only">Only</p>
                             <p class="card__price-value">$297</p> -->
              <div class="card__details">
                <!-- <ul>
                  <li>3 day tour</li>
                  <li>Up to 30 people</li>
                  <li>2 tour guides</li>
                  <li>Sleep in cozy hotels</li>
                  <li>Difficulty: easy</li>
                </ul> -->
                <app-assets-table
                  [accountsDataInput]="firm.accounts"
                ></app-assets-table>
              </div>
            </div>
            <!-- <a href="#" class="btn btn--white">Book now!</a> -->
          </div>
        </div>
      </div>

      }
    </div>
  </section>
</main>

<!-- <div>
      <p>ID: {{ firm.id }}</p>
      <p>Name: {{ firm.name }}</p>
      <p>Total: {{ firm.actualValueFirmTotal | number : "1.0-0" }}</p>
    </div> -->

<!-- <app-assets-table [firmsDataInput]="firms"></app-assets-table> -->
