<!-- (1) The home component will hold the content of the <body> element
     The is the <header> and <main>. There is no <footer>.
      (2) The <main> holds the default <section-firms>
  -->

<header class="shared-header u-margin-bottom-small">
  <div>
    <!-- src="./assets/img/logo-lb-gray.png" -->
    <img
      src="./assets/img/logo-lb-blue.png"
      alt="Logo white"
      class="shared-header__logo-image"
    />
  </div>

  <div>
    <h1 class="heading-primary">
      <span class="heading-primary--main">Liquid Budget</span>
    </h1>
  </div>
</header>

<main class="dashboard">
  <!-- =================================== -->
  <!-- ==== S E C T I O N - F I R M S  === -->
  <!-- =================================== -->

  <!-- ++++++++++++++++++++++++++++++++++++++  -->
  <!-- ++++++++++++++++++++++++++++++++++++++  -->
  <!-- ++++++++++++++++++++++++++++++++++++++  -->
  <!-- ++++++++++++++++++++++++++++++++++++++  -->

  <section class="section-firms u-padding-vertical-medium">
    <div class="section-firms__title u-margin-bottom-small">
      <h2 class="font-secondary">Assets:</h2>

      <input
        matInput
        class="input-box-large input-box-round u-margin-right-small no-arrows"
        style="no-arrows"
        type="number"
        [(ngModel)]="this.signalTotalFirmBalance"
        (keyup.enter)="
          recalcFirmsAndAnnualBudget(
            this.financialService.generateFirms(),
            this.signalTotalFirmBalance()
          )
        "
      />

      <button
        mat-fab
        mat-mini
        class="btn-calc"
        (click)="
          this.recalcFirmsAndAnnualBudget(
            this.financialService.generateFirms(),
            this.signalTotalFirmBalance()
          )
        "
      >
        GO
      </button>
    </div>

    <div class="section-firms__card-container">
      @for (firm of firms; track firm.id) {

      <!-- ====================================================================== -->
      <!-- ==== C A R D   L O O P  F O R   E A C H   F I R M  O N E   C A R D === -->
      <!-- ====================================================================== -->

      <div class="card">
        <!-- ===================================== -->
        <!-- ==== C A R D   F R O N T S I D E  === -->
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--2">&NonBreakingSpace;</div>
          <h3 class="card__heading">
            <h4 class="hrz-pad-1">{{ firm.name }} :</h4>
            <!-- <span class="card__heading-span card__heading-span--2">
              {{ firm.name }}
            </span> -->

            <h4 class="hrz-pad-1">
              <!-- <h1 class="card__heading-span card__heading-span--2"> -->
              {{
                this.helperService.roundUpToNearestThousand(
                  firm.actualValueFirmTotal
                ) / 1000
              }}K
            </h4>
          </h3>
          <!-- ====================================================== -->
          <!-- Displaying the pie chart for accounts inside the firm -->
          <!-- ====================================================== -->
          <div class="card__content">
            <app-chart [firmDataInput]="firm"></app-chart>
            <!-- <p>{{ firm.name }}</p> -->
            <!-- <div id="donutchart-{{ firm.id }}"></div> -->
          </div>
        </div>

        <!-- ===================================== -->
        <!-- ==== C A R D   B A C K S I D E  === -->
        <div class="card__side card__side--back card__side--back--3">
          <div class="flex-center">
            <h4>
              <span class="card__backside-heading">
                {{ firm.name }}
              </span>
              <span class="card__backside-heading">
                {{
                  this.helperService.roundUpToNearestThousand(
                    firm.actualValueFirmTotal
                  ) / 1000
                }}K
              </span>
            </h4>
          </div>
          <div class="card__table-body card__table-typo">
            <div class="card__price-box">
              <div class="card__details">
                <app-assets-table
                  [accountsDataInput]="firm.accounts"
                ></app-assets-table>
              </div>
            </div>
          </div>
        </div>
      </div>

      }
    </div>
  </section>

  <section class="section-budgets">
    <div class="section-budgets__row section-budgets__header-row">
      Budget Plan
    </div>

    <div class="section-budgets__row">
      <div class="section-budgets__header-col section-budgets__header-col__1">
        Year
      </div>
      <div class="section-budgets__header-col section-budgets__header-col__2">
        Budget
      </div>
      <div class="section-budgets__header-col section-budgets__header-col__3">
        Reserve
      </div>
    </div>

    <!-- The div below is used to wrap all the table rows excluding the column headers -->
    <!-- That way when scrolling the headers are fixed place and dont disapear off screen -->
    <!-- I commented out the div because I dont want scroll in this version -->
    <!--  -->
    <!-- <div class="section-budgets__scrollable-container"> -->
    <div>
      <div class="section-budgets__row" *ngFor="let item of annualBudgets">
        <div class="section-budgets__col1">{{ item.year }}</div>
        <div class="section-budgets__col2">
          <div class="u-text-align-right u-flex-child-width-medium">
            {{ item.percentBudget }}
          </div>
        </div>
        <div class="section-budgets__col3">
          <div class="u-text-align-right u-flex-child-width-medium">
            {{ item.percentRemaining }}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <p class="footer">Created by Rivercybe</p>
  <p class="footer">Deployed 22 Jan 2025</p>
</footer>
