body {
  font-family: "Lato", sans-serif; /* Lato is a thin and tall font*/

  //font-family: "Rubik", sans-serif;

  font-size: 1.125rem; /*Use 'rem' so font sizes are relative to the browser user's font size prefrences.*/

  line-height: 1.7; /* Recommended default. 1.7 * the font-size; */

  font-weight: 400; /*values 100, 200 ... 900 where normal===400*/

  color: $color-grey-dark; /* $color-white is pure white and #000 is pure black so #888 is in the middle*/
}

.heading-primary {
  font-weight: 600;
  text-transform: uppercase;
  color: $color-white;
}

.heading-primary--main {
  display: block;

  font-size: 4rem;
  letter-spacing: 2.5rem;

  // animation: moveFromLeft 1000ms ease-out 400ms;

  // /* The 'backface-visibility' property will hide the backside of the element */
  // /* In some browsers the animation may flcker because the back side is visible */
  // /* I did not see a need for this in chrome but as good practice I use it */
  // backface-visibility: hidden;
}

.heading-primary--sub {
  display: block;

  font-size: 3.5rem;
  letter-spacing: 2.5rem;
  margin-bottom: 6rem;

  animation: moveFromRight 1000ms ease-out 400ms;
  backface-visibility: hidden;
}

@mixin my-font-secondary {
  text-transform: uppercase !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.8rem !important;
  color: $color-primary-dark;
}

.font-secondary {
  @include my-font-secondary;
  letter-spacing: 0.1rem !important;
}

// .font-secondary {
//   text-transform: uppercase !important;
//   font-size: 3rem !important;
//   font-weight: 700 !important;
//   letter-spacing: 0.8rem !important;
//   color: $color-primary-dark;
// }

.font-tertiary {
  text-transform: uppercase !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.8rem !important;
  color: $color-primary-dark;
}

.mdc-list-item__primary-text {
  font-size: 3rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.8rem !important;
  color: $color-primary-dark;
}

// .heading-secondary {
//   // The style rules of font-secondary are already inside
//   // the heading-secondary class, now we just add more rules to
//   // the heading-secondary that are specific for it.

//   //---------------------------------------
//   // Start of rules for cliping text so that
//   // it is filled with background-image
//   background-image: linear-gradient(
//     to right,
//     $color-primary,
//     $color-primary-dark
//   );
//   background-clip: text;
//   color: transparent;
//   // End of rules for cliping text with background-image
//   //---------------------------------------

//   display: inline-block;
//   transition: all 0.2s;

//   // &:hover {
//   //   transform: skewX(3deg) skewY(5deg) scale(1.1);
//   //   text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
//   // }
// }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
}

.heading-tertiary span {
  letter-spacing: 0.3rem;
}

.heading-list {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paragraph {
  font-size: 2rem;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.heading-table {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  // text-align: center !important;
  background-color: aqua;
}

.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.flex-center {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  // display: flex !important;
  // justify-content: center !important;
  // align-items: center !important;
  // padding: 0 4rem;
}

.hrz-pad-2 {
  padding: 0 2rem;
}
